.check-out {
    &__cart {
        padding-top: 25px;
        text-align: left;
        position: absolute;
        top: 45px;
        right: -70px;
        display: none;
        &-inner {
            position: relative;
            width: min(645px, 100vw);
            padding: 30px;
            border-radius: 20px;
            background: var(--check-out-cart-bg);
            box-shadow: 0px 40px 90px 20px var(--check-out-cart-shadow);
        }
        &--row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &--row + &--row {
            margin-top: 20px;
        }

        &--total {
            font-weight: 500;
        }
    }

    &__arrow {
        position: absolute;
        top: -14px;
        right: 100px;
        height: 20.5px;
        filter: var(--check-out-arrow) !important;
    }

    &__title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__see-all {
        color: #0071dc;
        font-size: 1.8rem;
        line-height: 145.455%;
    }

    &__product-list {
        margin: 30px 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &-thumb {
            padding-top: 98%;
            position: relative;
        }

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: contain;
        }

        &--title {
            margin-top: 8px;
            font-size: 1.4rem;
            line-height: 142.857%;
        }
        &--price {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }
    }

    &__payment {
        padding: 30px 0;
        border-width: 1px 0;
        border-style: solid;
        border-color: #d2d1d6;
    }

    &__value,
    &__label {
        font-size: 2.2rem;
        line-height: 145.455%;
    }

    &__cta {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        min-width: 278px;
    }
}

.top-act__dropdown:hover {
    .check-out__cart {
        display: block;
    }
}